
<div class="col-xs-12 col-md-offset-1 col-md-12">
  <div class="row">
    <div class="col-auto">
      <h3 class="mt-2">User:</h3>
      <h1 class="mt-2">
        {{ user?.nombre }}
      </h1>
      <h4 class="mt-1">
        {{user?.role}}
      </h4>
    </div>
    <div class="col-md-7">
    </div>
  </div>
  <h3 class="mt-4">Restaurantes:</h3>

  <div class="card mt-3 mb-5">
    <div class="card-header">
      <div class="row justify-content-between">
        <div class="col-4">
            <h5>
                Buscar Restaurantes
              </h5>
        </div>
        <div class="col-4">
            <form class="form-inline my-2 my-lg-0 align-right">
                <input class="form-control mr-sm-2" name="inputSearch" [(ngModel)]="search" type="search" placeholder="Search" aria-label="Search">
              </form>
        </div>
      </div>
    </div>
    
    
    <div class="card-body">
      <div class="row justify-content-center">
          <div *ngIf="!hay_restaurantes">
              <h2 class="text-danger">
                {{mensaje_restaurante}}
              </h2>
            </div>
            <ng-template [ngIf]="hay_restaurantes">
            
        <div class="col-auto mb-2" *ngFor="let rest of (restaurantes | filtrosRestaurantes: search)">
          <div class="card d-block" style="width: 13rem;">
            <p class="card-header">
              <span>REF REST:</span> {{ rest?.id_restaurante }}
            </p>
            <img class="card-img-top" [src]="rest?.imagen" alt="Card image cap">
            <div class="card-body">
              <a [routerLink]="['/restaurants/mesas', rest.id_restaurante]">
                <h5 class="card-title">{{rest?.nombre}}</h5>
              </a>
                <span><b>Descripcion:</b></span>
                <p>
                  {{rest?.descripcion}}
                </p>
            </div>
          </div>
        </div>
      </ng-template>
      </div>
    </div>
  </div>


</div>