<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../../../assets/logo.png"><a class="navbar-brand" id="titleSecondary"><span>Easy Local</span><p><span>-> ADMINISTRATOR TOOL</span></p></a>
    <button *ngIf="logged" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-auto justify-content-start">
        <div *ngIf="logged && assignMesa">
            <li class="nav-item">
                <a class="nav-item nav-link" *ngIf="!esAdmin" [routerLink]="['/restaurants']" [routerLinkActive]="['active']">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" *ngIf="esAdmin || esSuperAdmin" [routerLink]="['/restaurants/me']" [routerLinkActive]="['active']">Gestion Restaurantes<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" *ngIf="esAdmin || esSuperAdmin" [routerLink]="['/restaurants/intelligence']" [routerLinkActive]="['active']">BI Restaurantes<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" *ngIf="esSuperAdmin" [routerLink]="['/restaurants/super']" [routerLinkActive]="['active']">Super Administrator<span class="sr-only">(current)</span></a>
              </li>
        </div>
      </ul>
      <ul class="navbar-nav ml-auto justify-content-end">
        <div *ngIf="logged">
            <li class="nav-item">
                <a class="nav-item nav-link btn float-left" (click)="logoutButton()"><i class="fas fa-door-open"></i> Logout</a>
              </li>
        </div>
      </ul>

      <!-- <form class="form-inline my-2 my-lg-0 align-right">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>


