#titleSecondary {
  font-family: 'Anton', sans-serif;
}

#titleSecondary > span {
  font-size: 2em;
  color: rgb(204, 116, 0)
}

#titleSecondary > p > span {
  font-size: 1em;
  color: rgb(104, 59, 0)
}

nav > img {
  margin-right: 3%;
  margin-left: 3%;
}

