<div class="row h-75">
  <div class="col-12 my-auto">
    <div class="card-block w-50 mx-auto">
      <form action="#" id="form-login" method="POST" role="form" (ngSubmit)="addLogin()">
        <legend>Log In:</legend>

        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="nombre" class="form-control" name="nombre" id="nombre" [(ngModel)]="nombre" placeholder="Nombre de Usuario" />
          <label for="password">Password:</label>
          <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password"
            placeholder="Password" />
        </div>
        <a class="btn btn-secondary m-3 text-white" (click)="goToRegister()" role="button">Create account</a>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <div class="" *ngIf="errorLogin">
        <h4 class="text-danger">
          Usuario o contraseña incorrectos
        </h4>
      </div>
    </div>
  </div>
</div>
