<div class="row h-100">
  <div class="col-12 my-auto">
    <div class="card-block w-50 mx-auto">
      <div *ngIf="errorGuardado === true" class="alert alert-danger">
        {{ error }}
      </div>
      <form action="#" id="form-register" class="mt-4" (ngSubmit)="addUser()" #registerForm="ngForm" novalidate>
        <legend>Create an Account</legend>

        <div class="form-group">
          <label for="correo">Nombre de usuario:</label>
          <input type="nombre" [(ngModel)]="user.nombre" (change)="buscaUsuario(user.nombre)" #nombre1Model="ngModel" required
            [ngClass]="validClasses(nombre1Model, 'is-valid', 'is-invalid')" minlength="1" class="form-control mb-2"
            id="nombre" name="nombre" placeholder="nombre" />
          <div *ngIf="nombre1Model.touched && nombre1Model.invalid" class="alert alert-danger">
            nombre is required.
          </div>
        </div>
        <div class="form-group">
          <label for="correo">Repite el nombre:</label>
          <input type="nombre" [(ngModel)]="nombre2" [class]="correosIguales" required
            (change)="cambiaCorreo()" #unElemento #nombre2Model="ngModel"
            class="form-control mb-2" id="nombre2" name="nombre2" placeholder="nombre" />
          <div *ngIf="nombre2 !== '' && nombre2 !== user.nombre" class="alert alert-danger">
            Both nombre must be equal and not contain spaces.
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" [(ngModel)]="user.password" required
            [ngClass]="validClasses(passwordModel, 'is-valid', 'is-invalid')" minlength="4" #passwordModel="ngModel"
            class="form-control mb-2" id="password" name="password" placeholder="Password" />
          <div *ngIf="passwordModel.touched && passwordModel.invalid" class="alert alert-danger">
            Password is required and minlength is 4.
          </div>
        </div>
        <div class="form-group">
          <label for="Telefono">Telefono: (Opcional)</label>
          <input type="text" class="form-control mb-2" [(ngModel)]="user.telefono" (change)="mostrarEstado()" #telfModel="ngModel"
            [ngClass]="{'is-valid': telfModel.touched && user.telefono != null,'is-invalid': telfModel.touched && !telfModel.valid && telfModel.value == null && user.telefono == null }"
             id="telefono" name="telfUser" placeholder="Telefono" />
          <div *ngIf="telfModel.touched && telfModel.invalid" class="alert alert-warning">
            Phone is optional and can only contain alphanumerics.
          </div>
        </div>
        <a class="btn btn-secondary m-3 text-white" (click)="goToBack()" role="button">Go back</a>
        <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid || user.nombre !== nombre2 || !validoEspacios || errorGuardado">
          Create account
        </button>
      </form>
    </div>
  </div>
</div>
