a {
  color: white;
}

.btn {
    background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
    background-color: RoyalBlue;
}
