<div class="col-xs-12 col-md-offset-1 col-md-12">
  <div class="row">
    <div class="col-auto">
      <h3 class="mt-2">User:</h3>
      <h1 class="mt-2">
        {{ user?.nombre }}
      </h1>
      <h4 class="mt-1">
        {{user?.role}}
      </h4>
    </div>
    <div class="col-md-7">
    </div>
  </div>

  <h3 class="mt-4">Mesas:</h3>

  <div class="card mt-3 mb-5">
    <div class="card-header">
      <div class="row justify-content-between">
        <div class="col-6">
            <h5>
                Todas las mesas
              </h5>
        </div>
        <div class="col-8 d-table">
              <button class="btn mr-2" (click)="refrescar()">
              <i class="fas fa-sync-alt" style="height: 15px;"></i> Refresh
             </button>
             <button #buttonCierre type="button" class="btn btn-success" (click)="goBack()"><i
              class="fas fa-arrow-circle-left" style="height: 15px;"></i> Atrás</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-auto mb-2" *ngFor="let mesa of mesas">
          <div class="card d-block" style="width: 13rem;">
            <p class="card-header">
              <span>REF MESA:</span> {{ mesa?.id_mesa }}
            </p>
            <div class="card-body" [ngStyle]="{'background-color': mesa?.ocupada?'red':'green'}">
              <a [routerLink]="['/restaurants/mesas/cuentas', mesa.id_mesa]">
              <h1 class="card-title" style="font-size: 5em; text-align: center;">
                {{mesa?.num_mesa}}
              </h1>
            </a>
              <h5>
                {{mesa?.password}}
              </h5>
              <h3 style="color: white;">
                {{mesa?.cant_usuarios}}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
