<div class="col-xs-12 col-md-offset-1 col-md-12">
  <div class="row">
    <div class="col-md-6">
      <h3 class="mt-2">User:</h3>
      <h1 class="mt-2">
        {{ user?.nombre }}
      </h1>
      <h4 class="mt-1">
        {{user?.role}}
      </h4>
    </div>
    <div class="col-auto mt-2">
        <div class="form-group">
          <input type="decimal" name="pagado" class="form-control-lg" [(ngModel)]="pagado" id="totalcalcular" placeholder="Pagado">
        </div>
        <div class="form-group">
          <input type="text" name="devolucion" disabled class="form-control-lg" id="exampleInputPassword1" [(ngModel)]="devolucion" placeholder="Devolución">
        </div>
        <button type="submit" (click)="calcular()" class="btn btn-primary">Calcular Devolucion</button>
    </div>
  </div>
  <h3 class="mt-4">Cuentas por mesa: {{ mesa?.id_mesa}} ({{ mesa?.max_usuarios }}) Nº: {{ mesa?.num_mesa}}</h3>

  <div class="card mt-3 mb-5">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-6">
                <h5>
                    Todas las mesas
                  </h5>
            </div>
            <div class="col-8 d-table">
                  <button class="btn mr-2" (click)="refrescar()">
                  <i class="fas fa-sync-alt" style="height: 15px;"></i> Refresh
                 </button>
                 <button #buttonCierre type="button" class="btn btn-success" (click)="goBack()"><i
                  class="fas fa-arrow-circle-left" style="height: 15px;"></i> Atrás</button>
            </div>
          </div>
    </div>
    <div class="card-body">
      <div class="row justify-content-center">
        <div *ngIf="!hay_cuentas">
          <h2 class="text-danger">
            {{mensaje_cuenta}}
          </h2>
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-12" *ngIf="hay_cuentas">

          <h3 class="mt-2">Todas las cuentas:</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  REF ACCOUNT:
                </th>
                <th>
                  Fecha Apertura
                </th>
                <th>
                  Fecha Cierre
                </th>
                <th>
                  Estado
                </th>
                <th>
                  Total B.
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cuenta of cuentas">
                <td>
                  {{cuenta?.id_cuenta}}
                </td>
                <td>
                  {{cuenta?.fecha_apertura | date:'short' }}
                </td>
                <td>
                  {{cuenta?.fecha_cierre | date:'short'}}
                </td>
                <td>
                  {{cuenta?.estado}}
                </td>
                <td>
                  {{cuenta?.total_b | currency:'EUR':'symbol'}}
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                  <div type="button" (click)="pagarUnaCuenta(cuenta)" class="btn"><i class="fas fa-receipt"></i></div>
                </td>
                <td>
                  <div type="button" class="btn" (click)="verCuentaEnDetalle(cuenta)"><i class="fas fa-eye"></i></div>
                </td>
              </tr>
              <tr>
                <td>
                  <h5>
                    TOTAL:
                  </h5>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                  <h5>
                    {{ total_todas | currency:'EUR':'symbol'}}
                  </h5>
                </td>
              </tr>
            </tbody>
          </table>
          <button #buttonAbrir type="button" class="btn btn-success float-right" (click)="pagarAllCuentas()"><i class="fas fa-shopping-cart"></i> Pagar
            Cuentas (All)</button>
        </div>

      </div>
    </div>
  </div>


</div>
