<div class="row h-75">
    <div class="col-12 my-auto">
      <div class="card-block w-50 mx-auto">
        <form action="#" id="form-login" method="POST" role="form" (ngSubmit)="addMesa()">
          <legend>Asignarme a Mesa:</legend>

          <div class="form-group">
            <label for="password">Contraseña de la Mesa:</label>
            <input type="text" class="form-control" name="password" id="password" [(ngModel)]="pass" placeholder="Password de la mesa" />
          </div>
          <button type="submit" class="btn btn-primary">Unirme a la mesa</button>
        </form>
        <div class="" *ngIf="errorMesa">
          <h4 class="text-danger">
            {{mensajeError}}
          </h4>
        </div>
      </div>
    </div>
  </div>
