<div class="row justify-content-center">
  <div class="col-xs-9 col-md-offset-1 col-md-10">
    <div class="overflowHidden">
      <img *ngIf="restaurante && restaurante.imagen" [alt]="restaurante?.nombre" [src]="restaurante?.imagen" />
    </div>
  </div>

  <div class="col-xs-12 col-md-offset-1 col-md-12">
    <div class="row">
      <div class="col-md-5">
        <h3 class="mt-2">User:</h3>
        <h1 class="mt-2">
          {{ user?.nombre }}
        </h1>
      </div>
      <div class="col-md-7">
        <dl>
          <dt>
            <h4>
              Nombre:
            </h4>
          </dt>
          <dd>
            {{ restaurante?.nombre }}
          </dd>
          <dt>
            <h4>
              Descripccion:
            </h4>
          </dt>
          <dd>
            {{ restaurante?.descripccion }}
          </dd>
        </dl>
        <address>
          <strong>{{ restaurante?.nombre }}</strong><br />
          {{ restaurante?.direccion }}<br />
          <abbr title="Phone">Telf:</abbr> {{ restaurante?.telefono }}
        </address>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <h3 class="mt-2">Mis pedidos:</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                REF PROD:
              </th>
              <th>
                Product
              </th>
              <th>
                Cantidad
              </th>
              <th>
                Precio Final
              </th>
              <th>
                VAT
              </th>
              <th>
              </th>
              <th>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pedido of pedidos">
              <td>
                {{pedido?.id_producto}}
              </td>
              <td>
                {{pedido?.nombre}}
              </td>
              <td>
                <div [ngSwitch]="cerrada">
                  <input name="inputNumber" *ngSwitchCase="false" id="inputCant" #inputNumber
                    (change)="recalcula(pedido, inputNumber.value)" type="number" [value]="pedido?.cantidad" min="0" />
                  <input name="inputNumber" *ngSwitchCase="true" id="inputCant" #inputNumber2 disabled
                    (change)="recalcula(pedido, inputNumber2.value)" type="number" [value]="pedido?.cantidad" min="0" />

                </div>
              </td>
              <td>
                {{pedido?.precio_final}}
              </td>
              <td>
                {{pedido?.vat_final}}
              </td>
              <td>
                <div type="button" (click)="eliminarPedido(pedido)" class="btn"><i class="fas fa-trash"></i></div>
              </td>
              <td>
                <div type="button" class="btn" (click)="verProducto(pedido?.id_producto)"><i
                    class="far fa-eye primary"></i></div>
              </td>
            </tr>
            <tr>
              <td>
                <h5>
                  TOTAL:
                </h5>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
                <h5>
                  {{cuenta?.total_b | currency:'EUR':'symbol'}}
                </h5>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="cerrada">
          <h2 class="text-danger">
            {{mensaje_cuenta}}
          </h2>
        </div>
        <button #buttonCierre type="button" class="btn btn-success float-right ml-4"
          (click)="cerrarCuenta(cuenta)">Confirmar Pedido</button>
        <button #buttonAbrir type="button" class="btn btn-success float-right" (click)="abrirCuenta(cuenta)">Reabrir
          Cuenta</button>
      </div>
      <div class="col-lg-8 col-xl-4 ml-2 mb-3">
        <h3 class="mt-2">Detalles:</h3>
        <div class="card">
          <h5 class="card-header">
            Producto: {{ pedido_muestra?.nombre }}
          </h5>
          <div class="card-body text-center">
            <img *ngIf="pedido_muestra && pedido_muestra.imagen" id="fotoProducto" [src]="pedido_muestra.imagen" alt="pedido_muestra?.nombre">
          </div>
          <div class="card-footer">
            {{pedido_muestra?.descripcion}}
          </div>
        </div>
      </div>
    </div>
    <h3 class="mt-2">Productos:</h3>

    <div class="mt-3 mb-5" *ngIf="cerrada">
      <h2 class="text-success">
        Gracias por tu compra!!
      </h2>
    </div>


    <div class="card mt-3 mb-5" *ngIf="!cerrada">
      <h5 class="card-header">
        Todos los productos
      </h5>
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-auto mb-2" *ngFor="let prod of productos">
            <div class="card d-block" style="width: 12rem;">
              <p class="card-header">
                <span>REF PROD:</span> {{ prod?.id_producto }}
              </p>
              <img class="card-img-top" [src]="prod?.imagen" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{prod?.nombre}}</h5>
                <button type="button" class="btn btn-success float-right ml-4 mb-1"
                  (click)="pedirProducto(prod)">Pedir</button>
                <input name="inputNumber" id="inputCant" #inputNumber3 type="number" [(ngModel)]="prod.cantidad" min="0" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
