.card-text {
  white-space: pre-wrap;
}

.overflowHidden {
  height: 150px;
  width: 100%;
  margin-bottom: 30px;
  // object-fit: cover;
  overflow: hidden;
}

#fotoProducto {
  max-height: 50%;
  max-width: 50%;
}

#inputCant {
  width: 50px;
}
