<div class="modal-header">
  <h5 class="modal-title">{{ title }}</h5>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    (click)="ActiveModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{ body }}</p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    (click)="ActiveModal.close(true)"
  >
    {{ botonTrue }}
  </button>
  <button
    type="button"
    class="btn btn-secondary"
    data-dismiss="modal"
    (click)="ActiveModal.close(false)"
  >
    {{ botonFalse }}
  </button>
</div>
