<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MK Studio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-item nav-link" (click)="estudio('VENTAS')" [routerLinkActive]="['active']">Ventas</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" (click)="estudio('BFOS')" [routerLinkActive]="['active']">Bfos y Costes</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" (click)="estudio('PR+')" [routerLinkActive]="['active']">Pr + Vendidos</a>
      </li>
    </ul>
  </div>
  <div id="fechas" *ngIf="mkestudio">
    <div class="form-group">
      <label for="fecha1" style="color: white">Fecha 1</label>
      <input name="fecha2" [(ngModel)]="fecha1" type="date" class="form-control" id="fecha1" placeholder="Fecha 1">
    </div>
    <div class="form-group">
      <label for="fecha2" style="color: white">Fecha 2</label>
      <input name="fecha2" [(ngModel)]="fecha2" type="date" class="form-control" id="fecha2" placeholder="Fecha 2">
    </div>
    <div class="form-group">
        <button *ngIf="mkestudio" (click)="mKStudioData()" type="button" class="btn btn-primary" [disabled]="fecha1 == '' || fecha2 == '' || fecha1 == null || fecha2 == null">MK Studio</button>
      </div>
  </div>
</nav>
<div *ngIf="error">
  <h3>
    {{mensajeError}}
  </h3>
</div>
<div *ngIf="this.tipoEstudio == 'VENTAS' && muestraTabla">
  <h4 class="mt-5">Ventas y Añadidos</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ventas Periodo</th>
        <th scope="col">Costes Periodo</th>
        <th scope="col">VAT Periodo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{datos[0] | currency:'EUR':'symbol'}}</td>
        <td>{{datos[1] | currency:'EUR':'symbol'}}</td>
        <td>{{datos[2] | currency:'EUR':'symbol'}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="this.tipoEstudio == 'BFOS' && muestraTabla">
  <h4 class="mt-5">Bfos Dimensiones Cuentas</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ventas Periodo</th>
        <th scope="col">Costes Periodo</th>
        <th scope="col">VAT Periodo</th>
        <th scope="col">Media Horas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bfo of bfos">
        <td>{{bfo.total_b | currency:'EUR':'symbol'}}</td>
        <td>{{bfo.total_c | currency:'EUR':'symbol'}}</td>
        <td>{{bfo.total_vat | currency:'EUR':'symbol'}}</td>
        <td>{{bfo.media_horas}}</td>
      </tr>
      <td><b>Totales:</b></td>
      <tr>
        <td><b>{{datos[0] | currency:'EUR':'symbol'}}</b></td>
        <td><b>{{datos[1] | currency:'EUR':'symbol'}}</b></td>
        <td><b>{{datos[2] | currency:'EUR':'symbol'}}</b></td>
          <td><b>{{datos[3]}}</b></td>
        </tr>
    </tbody>
  </table>
</div>
<div *ngIf="this.tipoEstudio == 'PR+' && muestraTabla">
    <h4 class="mt-5">Bfos Dimensiones Cuentas</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Cnt Prod</th>
          <th scope="col">Id Prod</th>
          <th scope="col">Total A Cuenta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of prods">
          <td>{{pro.cnt_total}}</td>
          <td>{{pro.id_producto}}</td>
          <td>{{pro.total_a_cuenta}}</td>
        </tr>
        <td><b>Totales:</b></td>
        <tr>
          <td><b>{{datos[0]}}</b></td>
          <td></td>
          <td><b>{{datos[1] | currency:'EUR':'symbol'}}</b></td>
          </tr>
      </tbody>
    </table>
</div>
