/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

/* CSS only for examples not required for centering */
.container {
    height: 100%;
}